/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	max-width: 1440px;
	font-family: var(--font), 'Poppins', sans-serif;
	/* font-variation-settings: "wght" 400 485;
	 */
	background-color: var(--bg-color, #FFFFFF);
	color: var(--accent-color);
	background-image: var(--bg-image);
	background-size: cover;
	background-attachment: fixed;
	display: grid;
	justify-content: center;
}

.header {
	margin: 7% 0;
	max-width: 48.61%;
	font-family: var(--accent-font), 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--accent-color, #000);
	background: var(--bg-color, #FFF);
	justify-self: center;
	padding: 136px 120px 20px;
	gap: 20px;
}

.title {
	font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
	font-weight: var(--font-weigt);
	text-transform: uppercase;
	align-self: center;
}

.subtitle {
	font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
	font-weight: var(--font-weigt);
	text-transform: uppercase;
	align-self: center;
}

.header__theme-menu {
	display: flex;
	align-self: center;
}

.theme-menu__list {
	display: grid;
	gap: 10px;
	padding-left: 15px;
	position: relative;
}

.theme-menu__button {
	font-size: clamp(0.875rem, 1.1071rem + -1.1607vw, 0.0625rem);
	font-weight: var(--font-weigt);
	text-transform: uppercase;
	background-color: transparent;
	border: none;
}

.theme-menu__button:disabled::before {
	content: "▶";
	position: absolute;
	right: 92px;
	animation: arrow 0.5s infinite;
	transition: animation 0.5s ease-in-out;
}

.theme-menu__button:hover {
	opacity: 0.6;
	cursor: pointer;
	transition: opacity 0.3s ease;
	transition-timing-function: linear;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
	transition: opacity 0.3s ease;
	transition-timing-function: linear;
}

.theme-menu__button:focus {
	outline: none;
	opacity: 0.6;
}

.theme-menu__button::after {
	content: '';
	display: block;
	width: 0%;
	height: 3px;
	margin-top: 0;
	background-color: var(--accent-color);
	opacity: 0.6;
	transition: width 0.5s;
}

.theme-menu__button:focus-visible::after {
	width: 100%;
}

.theme-menu__button {
	transition: color 0.5s;
}

.main {
	width: 48.61%;
	justify-self: center;
	display: grid;
	gap: 54px;
}

.card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--accent-color, #000);
	background: var(--bg-color, #FFF);
	justify-items: center;
}

.card_picture {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	background-size: cover;
	position: relative;
	background-blend-mode: hard-light;
}

.label_card {
	color: var(--accent-color, #000);
	font-family: var(--accent-font), 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	opacity: 0.5;
	position: absolute;
	right: 26px;
	top: 26px;
	text-shadow: -1px 0 var(--stroke-text), 0 1px var(--stroke-text), 1px 0 var(--stroke-text), 0 -1px var(--stroke-text);
}

@supports (-webkit-text-stroke: 1px var(--stroke-text)) {
	.label_card {
		-webkit-text-stroke: 1px var(--stroke-text);
		text-shadow: none;
	}
}

.card_end {
	padding: 25px;
	display: grid;
	gap: 25px;
}

.card_text {
	display: grid;
	gap: 20px;
	font-size: clamp(1.125rem, 1.0964rem + 0.1221vw, 1.20625rem);
	font-weight: var(--font-weigt);
	line-height: 116.667%;
}

.card_button {
	display: grid;
	grid-template-columns: auto 130px;
	justify-items: end;
	gap: 2px;
}

.card__like-button {
	display: flex;
	width: 130px;
	height: 38px;
	padding: 9px 17px;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-color);
	border: 2px solid var(--accent-color, #000);
	position: relative;
}

.card__icon-button {
	height: 38px;
	background: var(--bg-color, #FFF);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
}

.title_card {
	padding: 2px 5px 2px 10px;
	font-weight: var(--title-font-weight);
	font-size: clamp(1.1625rem, 1.1625rem + 0vw, 1.1625rem);
	font-weight: var(--title-font-weight);
}

.card_picture_item {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: cover;
}

.footer {
	padding: clamp(1rem, 0.8831rem + 3.4632vw, 4rem) clamp(1rem, 0.5714rem + 11.8095vw, 12rem) 105px;
	max-width: 48.61%;
	background: var(--bg-color, #FFF);
	justify-self: center;
}

.button_footer {
	max-width: 335px;
	padding: 10px;
	border: 2px solid var(--accent-color, #000);
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-content: center;
	gap: 8px;
	background: var(--bg-color, #FFF);
	position: relative;
}

.button__text {
	color: var(--accent-color, #000);
	font-family: var(--accent-font), 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: var(--font-weigt);
	line-height: 90%;
	/* 12.6px */
	align-self: center;
	background-color: var(--bg-color);
	position: relative;
	z-index: 1;
	background-blend-mode: difference;
}

.button:focus {
	outline: none;
	box-shadow: 2px 2px 0 var(--accent-color);
	transition-timing-function: box-shadow 0.5s linear;
}

.button::after {
	width: 100%;
	height: 100%;
	content: "";
	background-color: var(--accent-color);
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 0.5s ease-in-out;
	position: absolute;
}

.button:hover::after {
	transform: scaleX(1);
}

.button__text .button:hover::after {
	background-blend-mode: difference;
	color: #FFF;
	background-color: #FFF;
}

.card__icon-button:focus {
	outline: none;
}

.card__icon-button:focus-visible {
	border: 2px solid var(--accent-color, #000);
	transition: border 0.3s ease;
}

.sparks {
	opacity: 0;
}

.card__icon-button:hover .core {
	fill: var(--accent-color);
	transition: fill 0.3s linear;
}

.card__icon-button .core {
	fill: var(--bg-color);
	transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .main-body {
	fill: var(--accent-color);
	transition: fill 0.3s 0.05s linear;
}

.card__icon-button .main-body {
	fill: var(--bg-color);
	transition: fill 0.3s linear;
}

.card__icon-button:active .core {
	fill: var(--main-body);
	transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
	fill: var(--main-body);
	transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
	fill: var(--main-body);
	transition: fill 0.3s linear;
}

.card__icon.is-liked .main-body {
	fill: var(--main-body);
	transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .contour {
	fill: var(--main-body);
	transition: 0.3s 0.06s linear;
}

.like-icon.is-liked {
	animation: change-scale 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
	fill: var(--main-body);
	animation: change-opacity 0.3s 0.3s ease-in 1 alternate forwards;
}

.like-icon.is-liked .core {
	fill: var(--main-body);
	transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
	fill: var(--main-body);
	transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart {
	animation: change-scale 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
	fill: var(--main-body);
	animation: change-opacity 0.3s 0.3s ease-in 1 alternate forwards;
}

/* .like-icon.is-liked .contour {
	 fill: var(--accent-color);
	 transition: fill 0.1s linear;
}
 */
.dialog[open] {
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 32px 42px;
	background-color: var(--bg-color);
	font-size: 14px;
	margin: clamp(236px, 383px, 40%) clamp(17px, 541px, 38%);
}

dialog::backdrop {
	background-color: rgb(0 0 0 / 0.75);
	backdrop-filter: blur(7px);
}

.dialog-text {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	align-items: center;
}

.dialog__button-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	text-transform: uppercase;
}

.dialog-close {
	display: flex;
	width: 293px;
	height: 38px;
	padding: 9px 17px;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--accent-color, #000);
	font-size: 14px;
	font-weight: 400;
	line-height: 90%;
	text-transform: uppercase;
	justify-self: center;
}

.two_card {
	filter: contrast(50%);
}

.three_card {
	filter: sepia(80%);
}

.four_card {
	filter: opacity(0.8);
}

.five_card {
	filter: grayscale(0.8);
}

.six_card {
	filter: saturate(158%);
}

.seven_card {
	filter: hue-rotate(-90deg);
}

.eight_card {
	filter: invert(1) brightness(25%) saturate(60%) hue-rotate(90deg);
}