/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font: "PressStart2P";
    --font: "Inter";
    --title-font-weight: 700;
    --font-weight: 400;
    --bg-color: #ffffff;
    --accent-color: #000000;
    --main-body: red;
    --bg-image: repeating-linear-gradient(270deg, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px), linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --stroke-text: #ffffff;
    --button-bg-color: #ffffff;
    --button-color: #ffffff;
}